* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    line-height: 1.8;
    background-color: #7a4b4b;
    color: #141212; 
    font-size: 180px; 
}

.container {
    max-width: 1250px; 
    margin: 0 auto;
    padding: 40px; 
    text-align: center; 
}

body, p, h1, h2, h3, h4, ul, li, footer {
    text-align: justify;
}

h1 {
    color: white;
    font-family: "lora",serif;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 70px;
    margin-bottom: 30px;
    text-align: center; 
}

h2 {
    color: rgb(11, 11, 11);
    font-family: "lora",serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 30px;  
    text-align: center, justify; 
}

h3 {
    color: rgb(11, 11, 11);
    font-family: "lora",serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 30px; 
    text-align: center, justify; 
}

h4 {
    color: rgb(11, 11, 11);
    font-family: "lora",serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 30px; 
    text-align: center, justify; 

}

.banner img {
    display: block;
    width: 70%;
    height: auto; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    margin-bottom: 30px; 
}

p {
    margin-bottom: 10px; 
    color: #ffffff;
    text-align: center; 
    font-size: 30px; 
    text-align: justify; 
    
}

a {
    color: #00ff00; 
    text-decoration: none;
    font-size: 18px; 
}

a:hover {
    text-decoration: underline;
}

.btn-blue {
    display: inline-block;
    background-color: #322c67;
    color: #f9f7f7;
    padding: 20px 60px; 
    border-radius: 50px; 
    text-decoration: none;
    margin-bottom: 10px; 
    font-size: 18px; 
}

.btn-blue:hover {
    background-color: #322c67; 
}

.list-horizontal {
    list-style-type: none;
    margin-bottom: 30px; 
    text-align: center; 
}

.list-horizontal li {
    display: inline-block;
    margin-right: 30px;
}

.list-horizontal li:last-child {
    margin-right:0;
}

.list-horizontal i {
    font-size: 90px;
    color: #322c67; 
}
